CONFIG_PATH=/opt/bin/monobank-firefly3-bot/config.json

LISTEN=:8080

FIREFLY3_API_URL=https://firefly3.stuzer.link/api
FIREFLY3_TOKEN=

MONOBANK_TOKEN=
MONOBANK_WEBHOOK_DOMAIN=monobank-firefly3.io.stuzer.link
MONOBANK_WEBHOOK_SECRET=

LOG_FILE=/tmp/monobank-filefly3.log